
@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    text-align: center;
}

p{
    font-family: "Bungee", sans-serif;
    font-weight: 400;
    font-style: normal;
}




.contenedor-juego {
   position:relative;
   width: 90vw;
   height: 70vw;
   max-width: 900px;
   max-height: 500px;
    border: 2px solid rgb(26, 26, 26);
    border-radius: 16px;
    margin: 20px auto;
    overflow: hidden;
}

.sombrero{
    position: absolute;
    top: calc(100% - 245px); /* para que quede a la misma altura del personaje */
    left: -60px; /* para que el sombrero comience desde afuera */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    animation: moveHorizontal 4s linear infinite;
}


.personaje {
    position: absolute;
    bottom: 90px; 
    left: 50%;
    transform: translateX(-50%);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.personaje img{
    width: 80px;
    height: 110px; 
    object-fit: contain;
}

.sombrero img {
    width: 95px;
    height: 95px;
    object-fit: contain;
}

.animacion-puntos {
    animation: resaltarPuntos 0.3s ease; /* Animación rápida de 0.3 segundos */

}

@keyframes resaltarPuntos {
    0% {
        color: #000; /* Color original */
    }
    50% {
        transform: scale(1.5); /* Agranda el puntaje temporalmente */
        color: #04c03c; /* Cambia a un color brillante (tomato) */
    }
    100% {
        transform: scale(1); /* Vuelve al tamaño normal */
        color: #000; /* Regresa al color original */
    }
}


@keyframes moveHorizontal {
    from {
        left: -60px;
    }
    to {
        left: 100%; 
    }
}


@media (max-width: 600px) {


    .personaje {
        bottom: 20px; 
      
    }

    .personaje img{
        width: 50px;
        height: 70px; 
    }

    .sombrero {
        position: absolute;
        top: calc(100% - 125px); /* para que quede a la misma altura del personaje */
        
    }

    .sombrero img{
        width: 65px;
        height: 65px;
        object-fit: contain;
    }
}