/* Importación de la fuente desde Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap'); 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Bungee', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh; /* Altura mínima de la pantalla */
    background-color: #f4f4f4;
    text-align: center;
}

.contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px; /* Espaciado entre elementos */
}

.contenedor-juego {
    display: flex;
    align-items: flex-end; /* Para alinear elementos al fondo */
    justify-content: center;
    position: relative; /*  Para posicionar elementos dentro (gorro y personaje)*/
    width: 95vw; /* Ancho relativo al viewport */
    height: 70vw; /* Altura relativa al viewport */
    max-width: 700px; /* Ancho máximo (para que el juego sea justo en distintos dispositivos) */
    max-height: 400px;
    border: 2px solid #1a1a1a;
    border-radius: 16px;
    overflow: hidden; 
    background-color: #fff;
}

.personaje {
    position: relative; /* Para ajustar la posición */
    bottom: 50px; /* Mover hacia arriba (desde el fondo del contenedor) */
}

.personaje img {
    width: 140px;
    height: 160px;
    object-fit: contain; /* Ajusta las proporciones sin deformar */
}

.sombrero {
    position: absolute; /* Posición absoluta dentro del contenedor */
    top: calc(100% - 215px); /* Ajusta la altura para que el sombrero quede a la misma altura del personaje */
    left: -60px; /* Comienza fuera de la pantalla */
    animation: moveHorizontal 4s linear infinite; /* Animación para que se mueva horizontalmente */
    -webkit-animation: moveHorizontal 4s linear infinite; /* Compatibilidad con WebKit */
}

.sombrero img {
    width: 100px;
    height: 100px;
    object-fit: contain; /* Ajusta las proporciones sin deformar */
}

.sistema-puntos p {
    font-size: 20px;
    color: #333;
}

.animacion-puntos {
    animation: resaltarPuntos 0.3s ease;
    -webkit-animation: resaltarPuntos 0.3s ease; /* Compatibilidad con WebKit */
}

.contenedor-juego.puntaje-anotado {
    border-color: #04c03c; /* Borde verde cuando se anota un punto */
}

.contenedor-juego.fallo {
    border-color: #c02004; /* Borde rojo cuando se anota un punto */
}

@keyframes resaltarPuntos {
    0% {
        color: #007724;
    }
    50% {
        color: #04c03c;
    }
    100% {
        color: #007724;
    }
}

@-webkit-keyframes resaltarPuntos {
    0% {
        color: #007724;
    }
    50% {
        color: #04c03c;
    }
    100% {
        color: #007724;
    }
}

@keyframes moveHorizontal {
    from {
        left: -60px;  /* Comienza fuera del contenedor */
    }
    to {
        left: 100%;  /* Se mueve hasta el otro extremo */
    }
}

@-webkit-keyframes moveHorizontal {
    from {
        left: -60px;
    }
    to {
        left: 100%;
    }
}

@media (max-width: 600px) {
    .personaje img {
        width: 90px;
        height: 110px;
    }

    .sombrero img {        
        width: 65px;
        height: 65px;
    }

    .sombrero {
        top: calc(100% - 165px); /* Ajustar altura para pantallas pequeñas */
    }
}
